#bottom-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  background-color: #eaeaea;

  & > div {
    display: flex;
    justify-content: space-between;

    & > div {
      &.payment-info {
        p {
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-width: 178px;
        }
      }

      p {
        margin-bottom: 8px;
        b {
          font-weight: 400;
        }
        span {
          font-weight: 500;
        }
      }

      button {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
